span.wow {
    border-style: dotted;
    border-width: 3px;
    
}

span {
    border-style: groove;
    border-width: 3px;
    padding: 3px;
}
span {
    display: block;
    float: top;
    width: 7rem;
}
li {
    padding: 5px;
}

button {
    width: 4rem;
}

.center {
    width: 960px; margin: auto;
}